
// Links
a {
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

//
// Buttons
// --------------------------------------------------
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.carousel-control{
	@include box-shadow(0 0 0 2px $brand-primary inset);
	color: $carousel-control-color;
	&:hover,
    &:focus {
    @include box-shadow(0 0 0 30px $brand-primary inset);
    color: $carousel-control-color-hover;
  }
}
.pagination {
  padding-left: 0;
  margin-bottom:0px;
  border-radius: $border-radius-base;
    background-color: #ffffff;
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
      text-decoration: underline;
    }
  }
}