.common-home{
	#footer{
		margin-top:0;
	}
	.product-col {
		@include rtl-border-right(1px solid $border-color);
	}
	.panel-default{
		border-radius:0;
		z-index: 1;
		.panel-heading{
			border:none;
			padding-left:0;
			padding-right:0;
		}
 		.block-content{
			border:1px solid $border-color;
		}
	}
}
.footer-center{
	background:#313131;
	.container-inner{
		background:transparent;
		border-radius:0;
	}
}
.carousel-controls{
	@include rtl-right(0);
}
#powered{
	background:#2d2d2d;
	.container-inner{
		background:transparent;
		border-radius:0;
	}
} 
.widget-blogs{
	margin-bottom:50px !important;
	.panel-body{
		border:none !important;
		padding:0 !important;
	}
}
.product-info .bg-product-info{
	padding:30px 0 0;
}