$bo-parallax-before-background : url("#{$image-theme-path}bg-call-to-action.jpg") !default;
$brand-default: #000!default;
$border-color                  : #dddddd !default;
$white : #FFFFFF !default;
 /* --- SCSS For Accordion --- */
$bo-accordion-background:                        $brand-primary !default; 
$bo-accordion-color:                             $brand-primary !default;
$bo-accordion-border-color:                      #eee !default;
$bo-carousel-md-width:                             44px !default;
$bo-carousel-md-height:                            44px !default;

$bo-carousel-sm-width:                             34px !default;
$bo-carousel-sm-height:                            34px !default;

$bo-carousel-xs-width:                             28px !default;
$bo-carousel-xs-height:                            28px !default;

/* carousel-controls-v1 */
$bo-carousel-controls-v1-color:                    #999 !default;
$bo-carousel-controls-v1-hover-color:              darken($bo-carousel-controls-v1-color, 15%) !default;
$bo-carousel-controls-v1-bg:                       rgba(0, 0, 0, 0.5) !default;

/* carousel-controls-v2 */
$bo-carousel-controls-v2-color:                    #000 !default;
$bo-carousel-controls-v2-hover-color:              darken($bo-carousel-controls-v2-color, 25%) !default;

/* carousel-controls-v3 */
$bo-carousel-controls-v3-color:                    #fff !default;
$bo-carousel-controls-v3-hover-color:              #fff !default;
$bo-carousel-controls-v3-bg:                       #8bc34a !default;
$bo-carousel-controls-v3-hover-bg:                 darken($bo-carousel-controls-v3-bg, 15%) !default;



/* Navigation Styles */

/* carousel-indicators-v1 */
$bo-carousel-indicators-v1-bg:                     #ddd !default;
$bo-carousel-indicators-v1-hover-bg:               #8bc34a !default;

/* carousel-indicators-v2 */
$bo-carousel-indicators-v2-bg:                     #ddd !default;
$bo-carousel-indicators-v2-hover-bg:               #8bc34a !default;

/* carousel-indicators-v3 */
$bo-carousel-indicators-v3-bg:                     #8bc34a !default;
$bo-carousel-indicators-v3-hover-bg:               #8bc34a !default;

/* carousel-indicators-v4 */
$bo-carousel-indicators-v4-bg:                     #8bc34a !default;
$bo-carousel-indicators-v4-hover-bg:               #8bc34a !default;


/* carousel-indicators-v5 */
$bo-carousel-indicators-v5-bg:                     #8bc34a !default;
$bo-carousel-indicators-v5-hover-bg:               #8bc34a !default;

/* carousel-indicators-v6 */
$bo-carousel-indicators-v6-bg:                     #8bc34a !default;
$bo-carousel-indicators-v6-hover-bg:               #8bc34a !default;

 /* --- SCSS For Counters --- */$bo-counter-color:                   $brand-success;
$bo-counter-font-weight:             800;
$bo-counter-font-size:               36px;

$bo-counter-icon-font-size:          46px;
$bo-counter-heading-font-weight:     700;

 /* --- SCSS For Heading --- */$bo-heading-color:            $brand-primary;

 /* --- SCSS For Icon-box --- */

 /* --- SCSS For Interactive-banner --- */

 /* --- SCSS For Latest-posts --- *//* latest posts */
$bo-latest-posts-color:                   #999999;
$bo-latest-posts-a-color:                 $brand-default;
$bo-latest-posts-a-hover-color:           $brand-primary;
$bo-latest-posts-font-size:               14px;
$bo-latest-posts-title-font-size:         14px;
$bo-latest-posts-font-weight:             bold;
$bo-latest-posts-text-transform:          uppercase;

$bo-latest-posts-profile-font-size:       13px;
$bo-latest-posts-profile-color:           #000000;
$bo-latest-posts-profile-background:      $brand-primary;
$bo-latest-posts-profile-padding:         2px 12px;
$bo-latest-posts-title-color:           #ffffff;

 /* --- SCSS For List --- *//* variables for list */
$bo-list-color:                           $white !default; 
$bo-list-a-color:                         $bo-list-color !default; 
$bo-list-a-color-hover:                   $brand-primary  !default;

/* variables for list light */

$bo-list-light-color:                     #FFFFFF !default; 
$bo-list-light-a-color:                   $bo-list-light-color !default; 
$bo-list-light-a-color-hover:             $brand-primary  !default;


 /* --- SCSS For Message --- */

 /* --- SCSS For Newsletter --- */
$newsletter-v2-bg            : lighten($gray-light, 50%) !default;
$newsletter-v3-bg            : $gray-dark !default;


 /* --- SCSS For Panel --- */
$bo-heading-color:            $brand-default;
$bo-heading-icon-color:       $brand-primary;
$bo-heading-bg:		        #fff;
$bo-heading-font-size:		 $font-size-h3 !default;

 /* --- SCSS For Piechart --- */

 /* --- SCSS For Pricing --- */

 /* --- SCSS For Process-steps --- *//* process-steps */
$bo-process-steps-color:                      #000;
$bo-process-steps-bg:                         #000;

$bo-process-steps-active-color:               $brand-success;
$bo-process-steps-active-bg:                  $brand-success;

 /* --- SCSS For Service --- *//* variables for tab style1 using as base of tab */


 /* --- SCSS For Style-icon --- *//* Variables icons default */
$bo-style-icon-color:                              #fff!default;
$bo-style-icon-hover-color:                        #fff!default;
$bo-style-icon-bg:                                 $brand-primary!default;
$bo-style-icon-hover-bg:                           darken($bo-style-icon-bg, 5%)!default;

/* Variables icons bodered */
$bo-style-icon-bodered-color:                      $border-color!default;
$bo-style-icon-bodered-hover-color:                darken($bo-style-icon-bodered-color, 10%)!default;

/* Variables icons darker */
$bo-style-icon-darker-color:                        #fff!default;
$bo-style-icon-darker-hover-color:                  #fff!default;
$bo-style-icon-darker-bg:                           #000!default;
$bo-style-icon-darker-hover-bg:                     lighten($bo-style-icon-darker-bg, 35%)!default;

/* Variables icons light */
$bo-style-icon-light-color:                        #000!default;
$bo-style-icon-light-hover-color:                  #fff!default;
$bo-style-icon-light-bg:                           #f0f0f0!default;
$bo-style-icon-light-hover-bg:                     darken($bo-style-icon-light-bg, 10%)!default;

/* Variables icons plain */
$bo-style-icon-plain-color:                        $brand-primary!default;
$bo-style-icon-plain-hover-color:                  #000!default;
$bo-style-icon-plain-bg:                           transparent!default;
$bo-style-icon-plain-hover-bg:                     transparent!default;

/* Variables icons for light style */
$bo-light-style-icon-color:                        $brand-primary!default;
$bo-light-style-icon-hover-color:                  $brand-primary!default;
$bo-light-style-icon-bg:                           #fff!default;
$bo-light-style-icon-hover-bg:                     darken(#fff, 5%)!default;

$bo-light-style-icon-bodered-color:                #fff!default;
$bo-light-style-icon-bodered-hover-color:          darken(#fff, 5%)!default;
$bo-light-style-icon-bodered-bg:                   #fff!default;
$bo-light-style-icon-bodered-hover-bg:             darken(#fff, 5%)!default;

/* Variables icons outline */

$icons-outline-color:                              #d1d646!default;
$icons-outline-bg:                                 transparent!default;
$icons-outline-border:                             $icons-outline-color!default;
$icons-outline-hover-color:                        #fff!default;		
$icons-outline-hover-bg:                           $icons-outline-color!default;
$icons-outline-hover-border:                       darken($icons-outline-hover-bg, 5%)!default;

/* Variables icons inverse */

$icons-inverse-color:                              #fff!default;
$icons-inverse-bg:                                 #d1d646!default;
$icons-inverse-border:                             darken($icons-inverse-bg, 5%)!default;
$icons-inverse-hover-color:                        #d1d646!default;	
$icons-inverse-hover-bg:                            transparent!default;
$icons-inverse-hover-border:                       $icons-inverse-bg!default;


 /* --- SCSS For Table --- */

 /* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
$bo-tabs-a-color:#363636 !default; 
$bo-tabs-a-color-active:$white !default;
$bo-tabs-a-color-hover:$brand-primary !default;

$bo-tabs-padding: 25px !default; 
$bo-tabs-background: transparent !default;
$bo-tabs-background-hover: $brand-primary !default;
$bo-tabs-content-background:$white !default;

$bo-tabs-border-color : $border-color !default;
$bo-tabs-content-border:  1px solid $bo-tabs-border-color !default;
$bo-tabs-content-padding: 15px 20px!default;
$bo-tabs-content-margin: 20px 0!default;
$bo-tabs-font-family:$headings-font-family !default;

/* tab style version 5 */
$bo-tabs-primary-background-hover:#000000!default;
$bo-tabs-primary-background:#FFFFFF !default;

/* tab style version 6 */
$bo-tabs-v6-heading-background: #FFFFFF !default; 

$bo-tabs-v6-a-color : #000000 !default;
$bo-tabs-v6-a-color-active:red !default;
$bo-tabs-v6-heading-padding: 10px 20px;
$bo-tabs-v6-heading-border-top-color:#000000 !default; 

$bo-tabs-v6-heading-border-color:#eee !default;  
$bo-tabs-v6-content-border-color:1px solid $bo-tabs-border-color !default;

 /* --- SCSS For Testimonials --- *//* testimonials default */
$bo-testimonials-color:                              #696969;
$bo-testimonials-a-color:                            #696969;
$bo-testimonials-heading-color:                      #696969;							


/* testimonials-v1 */
$bo-testimonials-v1-color:                              #696969;
$bo-testimonials-v1-a-color:                            #696969;
$bo-testimonials-v1-background:                         #f3f3f3;
$bo-testimonials-v1-light-background:                         #f3f3f3;
$bo-testimonials-v1-light-color:                              #555;

/* testimonials light */
$bo-testimonials-light-color:                              #fff;
$bo-testimonials-light-a-color:                            #fff;
$bo-testimonials-light-heading-color:                      #fff;



 /* --- SCSS For Typography --- */
$bo-blockquote-icon-background  : $brand-primary !default;
$bo-blockquote-icon-color       : #FFFFFF !default;
$bo-blockquote-icon-font-size   : 17px !default;
$bo-blockquote-icon-line-height : 22px !default;

$bo-blockquote-color            : #000000 !default;
