// Box Modules 
// ========================================================================

/**
 *   Blocks Layout Selectors 
 */
$block-prefix 			 		: box !default;
$block-selector          		: box !default;
$block-heading-selector  		: box-heading !default;
$block-content-selector  		: box-content !default;


$block-module-margin-bottom: 			18px !default;
$block-module-padding  :				20px !default;
$block-module-border-color: 			$border-color  !default;
$block-module-heading-border: 		    1px !default;
$block-module-heading-transform:        uppercase !default;
$block-module-heading-line-height:      normal !default;
$block-module-heading-font-family:      $font-family-base !default;
$block-module-heading-bg:				#f5f5f5 !default;
$block-module-heading-padding: 		    10px 15px !default;
$block-module-heading-span-font-size:	 12px !default;
$block-module-heading-font-size:		 $font-size-h3 !default;
$block-module-heading-color:			#434a54 !default;
$block-module-content-bg:				#FFFFFF !default;
$block-module-content-border:			1px solid $border-color !default;
$block-module-content-padding:			20px !default;
$block-module-content-margin:           0px !default;
$block-module-content-radius:           0px !default;


$block-module-highlighted-bg			: red !default;
$block-module-highlighted-border		: solid 1px red !default;
$block-module-footer-heading-color		: #FFFFFF !default; 

$block-product-padding:               0 !default;
$block-heading-letter-spacing:        0px !default;



$footer-heading-font: 14px !default;

// Header
// ========================================================================
$header-outside-bg: 				#fafafa !default;
$header-bg:  						$brand-primary !default;
$header-border-color: 				$border-color-base !default;
$header-icon-bg:                    $wild-sand !default;
$header-border-color:               1px solid transparent !default;
$header-heading-color:              $theme-color-secondary !default;
$header-text-color:                 $tundora !default;
$header-link-color: 				$header-text-color !default;
$header-icon-font-size:             $font-size-base + 4 !default;

// headertop 
// ========================================================================
$headertop-bg: 						$border-color !default;
$headertop-color:						$gray-light !default;
$headertop-link-hover:					$brand-primary !default;
$headertop-font-size:					12px !default;
$headertop-container-padding:			6px 0 !default;

// Topbar 
// ========================================================================
$topbar-bg-font:$font-family-secondary;
$topbar-outside-bg: 				#474747 !default;
$topbar-bg: 						$gray-darker !default;
$topbar-border-color: 				$border-color-base !default;
$topbar-color:						$gray-light !default;
$topbar-link-hover:					$link-hover-color !default;
$topbar-font-size:					12px !default;
$topbar-container-padding:			6px 0 !default;
$topbar-height:42px;
// Mass header 
// ========================================================================
$masshead-outside-bg :			$theme-color-primary !default;
$masshead-bg: 			 		$white !default;
$masshead-content-padding:		8px 0 !default;
$masshead-color:				$theme-color-primary !default;
$masshead-color-hover:			lighten($theme-color-primary,5%);	


// Main menu 


// Promotions


// Showcase
$showcase-bg: 					$white;


//Main Content
$content-bg:					$white;


// Footer
// ========================================================================

$footer-bg: 						$white !default;
$footer-color: 						$text-color !default;
$footer-font-size:   	 			13px !default;
$footer-padding:                    25px 0 !default;

 /////// footer top
$footer-top-outside-bg :			transparent !default;
$footer-top-color:					$text-color !default;	
$footer-top-bg: 			 		#f3f3f3 !default;
$footer-top-link:					$text-color !default;	
$footer-top-link-hover:				$theme-color !default;	
$footer-top-border:					#505862 !default;

/////// footer center 
$footer-center-outside-bg :			transparent !default;
$footer-center-color:				#979797 !default;
$footer-center-bg: 			 		#333333 !default;
$footer-center-link:				#979797 !default;	
$footer-center-link-hover:			$theme-color !default;	
$footer-center-border-color:        $border-color-base !default;

/////// footer bottom 
$footer-bottom-outside-bg :			transparent !default;
$footer-bottom-color:				$footer-color !default;
$footer-bottom-bg: 			 		transparent !default;
$footer-bottom-link:				$footer-color !default;
$footer-bottom-link-hover:			$theme-color !default;	
$footer-bottom-border-color:        $border-color-base !default;

// Powered By / Copyright
// ========================================================================
$power-bg-outside:                 transparent !default;
$power-color:                       $white !default;
$power-bg:       					#2f2f2f !default;
$power-link-color:                  $brand-primary !default;
$power-link-color-hover:            $brand-primary !default;
$power-border-color:				$border-color-base !default;

// Responsive
// ========================================================================
$respon-topbar-icon:                $white !default;
$respon-topbar-icon-font-size:      $font-size-base !default;
$respon-topbar-search-bg:           $white !default;
$respon-topbar-search-icon-color:   $black !default;