<?php echo $header;  $config = $this->registry->get('config');  ?>
  <?php require( ThemeControlHelper::getLayoutPath( 'common/mass-header.tpl' )  ); ?>
<?php 
		require( DIR_TEMPLATE.$config->get('config_template')."/template/common/config.tpl" );
		$themeConfig = (array)$config->get('themecontrol');
		$productConfig = array(  	  
			'product_enablezoom'         => 1,
			'product_zoommode'           => 'basic',
			'product_zoomeasing'         => 1,
			'product_zoomlensshape'      => "round",
			'product_zoomlenssize'       => "150",
			'product_zoomgallery'        => 0,
			'enable_product_customtab'   => 0,
			'product_customtab_name'     => '',
			'product_customtab_content'  => '',
			'product_related_column'     => 0,        
		);
		$listingConfig = array( 	
			'category_pzoom'				          	=> 1,	
			'quickview'                                 => 0,
			'show_swap_image'                       	=> 0,
			'catalog_mode'								=> 1
		); 
		$listingConfig  				= array_merge($listingConfig, $themeConfig );
		$categoryPzoom 	    			= $listingConfig['category_pzoom']; 
		$quickview          			= $listingConfig['quickview'];
		$swapimg           				= ($listingConfig['show_swap_image'])?'swap':'';
		$productConfig 		            = array_merge( $productConfig, $themeConfig );  
		$languageID 			        = $config->get('config_language_id');   

	//	echo '<pre>'.print_r( $productConfig ,1 );die; 
?>

<div class="main-columns container">
  <div class="row">
	<?php if( $SPAN[0] ): ?>
	<aside id="sidebar-left" class="col-md-<?php echo $SPAN[0];?>">
	  <?php echo $column_left; ?>
	</aside>	
    <?php endif; ?> 
  
	<div id="sidebar-main" class="col-md-<?php echo $SPAN[1];?>">
		<div id="content">
			<?php require( ThemeControlHelper::getLayoutPath( 'common/mass-container.tpl' )  ); ?> 
			<?php echo $content_top; ?>
			
			<?php require( PAVO_THEME_DIR."/template/product/detail/default.tpl" );  ?>
			<?php echo $content_bottom; ?>
		</div>
	</div> 

	<?php if( $SPAN[2] ): ?>
		<aside id="sidebar-right" class="col-md-<?php echo $SPAN[2];?>">	
		<?php echo $column_right; ?>
		</aside>
	<?php endif; ?>
	</div>
</div>

<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			
			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));
						
						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}
				
				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				if (json['error']['kolvo']) {

					$('#notification').html('<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> ' + json['error']['kolvo'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}
			
			if (json['success']) {
				$('#notification').html('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
		          
		
				$('#cart-total').html(json['total']);
				
				$('html, body').animate({ scrollTop: 0 }, 'slow');
				
				$('#cart > ul').load('index.php?route=common/cart/info ul li');

				//$('.cart').html('<button type="button" id="button-checkout" data-loading-text="Загрузка..." class="btn btn-outline-inverse">Оформить</button>');
			}
		}
	});
});

	$('#button-checkout').on('click', function() {
		document.location.href = 'index.php?route=checkout/cart';
	});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;
	
	$('#form-upload').remove();
	
	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
	
	$('#form-upload input[name=\'file\']').trigger('click');
	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#review-form').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review-form').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() { 
	$('.product-info .image a').click(
		function(){  
			$.magnificPopup.open({
			  items: {
			    src:  $('img',this).attr('src')
			  },
			  type: 'image'
			});	
			return false;
		}
	);
});
//--></script> 
<?php if( $productConfig['product_enablezoom'] ) { ?>
<script type="text/javascript" src=" catalog/view/javascript/jquery/elevatezoom/elevatezoom-min.js"></script>
<script type="text/javascript">
		var zoomCollection = '<?php echo $productConfig["product_zoomgallery"]=="basic"?".product-image-zoom":"#image";?>';
		$( zoomCollection ).elevateZoom({
		<?php if( $productConfig['product_zoommode'] != 'basic' ) { ?>
		zoomType        : "<?php echo $productConfig['product_zoommode'];?>",
		<?php } ?>
		lensShape : "<?php echo $productConfig['product_zoomlensshape'];?>",
		lensSize    : <?php echo (int)$productConfig['product_zoomlenssize'];?>,
		easing:true,
		gallery:'image-additional-carousel',
		cursor: 'pointer',
		galleryActiveClass: "active"
	});
 
</script>

<script type="text/javascript">
	$(function () {
	  var $tabSpecicication = $('#tab-specification');
	  var $body = $('html, body');
	  $tabSpecicication.find('a').click(function (event) {
	    var href;
	    var hrefSplitted;
	    var elementToScroll;
	    event.preventDefault();
	    href = event.target.href;
	    hrefSplitted = href.split('#');
	    if (hrefSplitted.length < 2) {
	      return;
	    }
	    elementToScroll = $tabSpecicication.find('#' + hrefSplitted[1]);
	    $body.animate({
	      scrollTop: elementToScroll.offset().top
	    });
	  });
	});
</script>

<?php } ?>
<div class="main-columns container">
	<div class="product-info">
		<div class="bg-product-info">
			<p style="margin: 0 0;">Вы находитесь на официальной странице <?php echo $heading_title; ?> сайта Aptechkin.by. </p>
			<p style="margin: 0 0;">На данной странице вы найдете всю необходимую информацию о <?php echo $heading_title; ?>, фотография, название, описание, завод изготовителя, компания производителя, информацию о рецепте и инструкцию по применению с подробным описанием.</p>
			<p style="margin: 0 0;">Вы можете заказать нужное количество <?php echo $heading_title; ?> в аптеку при помощи интернет аптеки Aptechkin.by, первый в Беларуси сервис заказа лекарств в аптеку по дешевым ценам.</p>
			<p style="margin: 0 0;">Вы закажете <?php echo $heading_title; ?> по дешевой цене, с оптового склада, заказ придет в течении 1-3 суток к вам.</p>
			<p style="margin: 0 0;">Ищите <?php echo $heading_title; ?> в аптеках, на разных сайтах? Теперь у вас аптека в вашем кармане, вы можете заказать с доставкой лекарства, заказать таблетки, заказать с доставкой бады, косметику и изделия медицинского назначения.
			<?php echo $heading_title; ?> закажите с доставкой , на сервисе интернет бронирования лекарств, таблеток, бадов и много другого.</p>
		</div>
	</div>
</div>
<?php echo $footer; ?>