$body-bg:               #fff !default;
$brand-primary:			#db6d78 !default;
$theme-color: 			#db6d78 !default;
//** Global textual link color.
//** Link hover color set via `darken()` function.
$link-hover-color:      #db6d78 !default;

//** Background color for `<body>`.
