<div class=" row-offcanvas row-offcanvas-left">
<div class="sidebar-offcanvas sidebar visible-xs visible-sm">
      <div class="offcanvas-inner panel panel-offcanvas">
          <div class="offcanvas-heading">
              <button data-toggle="offcanvas" class="btn btn-primary" type="button"> <span class="fa fa-times"></span></button>
          </div>
          <div class="offcanvas-body panel-body">
               <?php echo $this->renderModule('category'); ?>
          </div>
       </div> 
 </div>
</div>