<?php
	$load = $this->registry->get("load");
	$language = $load->language("module/themecontrol");
	$text_sale = $language['text_sale'];
	$quick_view = $language['quick_view'];
?>
			<? /* ?><div class="row">
				<p>&nbsp</p>
				<div class="col-sm-6 text-left">Данный раздел находится в разработке.</div>


				<div class="col-sm-6 text-right">
					<div class="buttons">
						<div class="pull-right"><a href="index.php?route=common/home" class="btn btn-primary">Продолжить</a></div>
					</div>
				</div>
			</div> <? */ ?>
<div class="panel panel-default">
<?php
  $config = $this->registry->get('config'); 
 require( DIR_TEMPLATE.$config->get('config_template')."/template/common/products_module.tpl" ); ?>
</div>
