//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  margin-bottom:0;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius-base;
  padding: $breadcrumb-padding-vertical * 0 $breadcrumb-padding-horizontal * 0;
  > li {
    display: inline-block;
    padding: 0;

    + li:before {
      content:none; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
