//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive;
      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      transition: transform .6s ease-in-out;
      backface-visibility: hidden;
      perspective: 1000;

      &.next,
      &.active.right {
        transform: translate3d(100%, 0, 0);
        left: 0;
      }
      &.prev,
      &.active.left {
        transform: translate3d(-100%, 0, 0);
        left: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        transform: translate3d(0, 0, 0);
        left: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 35%;
  width: $carousel-control-width;
  height: $carousel-control-height;
  @include opacity($carousel-control-opacity);
  @include box-shadow(0 0 0 1px $border-color inset);
  font-size: $carousel-control-font-size;
  font-weight: $carousel-control-font-weight;
  color: $carousel-control-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  line-height: $carousel-control-height;
  background: #fff;
  @include opacity(1);
  border-radius:50px;
  @include transition(all 0.5s ease-in-out 0s);
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds

  // Hover/focus state
  &:hover,
  &:focus {
    outline: 0;
    color: $carousel-control-color-hover;
    @include box-shadow(0 0 0 30px $brand-primary inset);
    text-decoration: none;
    @include opacity(1);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    z-index: 5;
    display: inline-block;
  }
  .icon-prev,
  .glyphicon-chevron-left {
  
  }
  .icon-next,
  .glyphicon-chevron-right {
  
  }
  .icon-prev,
  .icon-next {
    width:  100%;
    height: 100%;
    
  }


  .icon-prev {
    &:before {
      content: '\f104';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
      font-family: $icon-font-name;
    }
  }
  .icon-next {
    &:before {
      content: '\f105';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)      
      font-family: $icon-font-name;
    }
  }
}

.carousel {
  .carousel-control {
    &.left {
      left: -$carousel-control-width/2;
    }
    &.right {
      right: -$carousel-control-width/2;
    }
  }
  &:hover {
    .carousel-control {
      @include opacity(1);
    }
  }
}
// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    @include size(8px,8px);
    margin: 1px 3px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid $carousel-indicator-border-color;
    background-color: $carousel-indicator-border-color;
  }
  .active {
    background-color: $carousel-indicator-active-bg;
    border-color: $carousel-indicator-active-bg;
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      
    }
    .glyphicon-chevron-left,
    .icon-prev {
     
    }
    .glyphicon-chevron-right,
    .icon-next {
     
    }
  }

  // Show and left align the captions
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}
