// auto search
.search-auto{
    height: 40px;
}
.autosearch-wrapper { 
    .autosearch-input {
        display: inline-block;
        width: 60%;
        @include rtl-float-left;
        height: 40px;
        padding: 0 10px;
        border:none;        
    }
    .autosearch-category {
        display: inline-block;
        width: 32%;
        position: relative;
        overflow: hidden;
        @include rtl-float-right;
        @include rtl-border-left(1px solid $border-color-base);
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        select {
            display: inline-block;
            border: none;
            width: 130%;
            height:40px;
            padding: 0 10px;
            cursor: pointer;
        }
        .fa {
            position: absolute;
            top: 36%;
            @include rtl-right(10px);
        }
    }
    .autosearch-submit {
        border-radius:3px;
        display: inline-block;
        width: 15%;
        height:42px;
        margin: 0;
        @include rtl-float-right;
        color: $white;
        font-family: $font-family-tertiary;
        font-size: 12px;
        .fa {
            color:$brand-default;
            font-size: $font-size-base - 3;
        }
    }
    .search {
        background: $white;
        width: 83%;
        border-radius:3px;
        border:1px solid $white;
        height: 42px;
        .autosearch {
            width: 100%;    
        }
    }
    .dropdown-menu {
        > li {
            &.media {
                margin: 15px 10px;
                overflow: hidden;
            }

            &.clearfix {
                border-bottom: 1px dashed $border-color-base;
                margin-left: 10px;
                margin-right: 10px;
            }

            &:last-child {
                border-bottom: none;
            }

            > a {
                padding: 0;
            }
            img{
                @include rtl-margin-right(15px);
            }
        }
    }
}