.productdeals {
	.days{
		color:$theme-color;
	}
	.footer-deals {
		margin-top: 10px;
		border-top:1px solid $border-color;
		text-align: center;
	}
	.item-countdown {
		position: absolute;
		bottom:0;
		background:#fbfbfb;
		width: 100%;
		opacity: 0.64;
		.countdown_num {
			font-size: 12px;
			font-weight: 700;
			padding:10px;
			position: relative;
			z-index: 0;
			&:before{
				background-color:$brand-default;
			    bottom: 50%;
			    content: "";
			    height: 2px;
			    @include rtl-left(0);
			    position: absolute;
			    width:100%;
			    z-index: -1;
			}
		}
		ul {			
			margin: 0;
			padding:0;
		}
		li {
			font-size: 12px;
			line-height: 16px;
			@include rtl-margin-right(5px);
			background: #444645;
			margin-top: 15px;
			padding:0;
			text-align: center;
			color: $white;
			border-radius:3px;
		}
	}
	.product-block {
		.deals{
			display:inline-block;
			margin-bottom:20px;
			width:50%;
			.price{
				padding:15px;
			}
		}
	}
}