.top-verticalmenu{
    overflow: hidden;
    position: relative;
    .menu-heading {
        font-weight: 600;
        font-size: 20px; 
        text-align: center;
        text-transform: none;
        display: block ;
        width: 62px;
        line-height:55px;
        color: #565656;
        @include gradient-vertical(#d2d2d2,#fefefe,0%,100%);
        @include rtl-margin-right(20px);
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
    }
    .pav-verticalmenu{       
        width: 270px;
        z-index: -1;                
        @include transition( all 0.3s ease-out 0s) ;
        position: absolute ; 
        overflow: inherit;
        @include opacity (0); 
        visibility: hidden  ;
        top:120% ;
        .navbar { 
            border: none ;
            margin: 0 ;
            background: $vertical-menu-content-bg;
        }
    }
    &.always-show{
        overflow: visible;
    }
    &:hover, &.always-show{
        .pav-verticalmenu{
            @include opacity (1);
            visibility: visible;
            top: 100%;
            z-index: 101  ;
        }
    }
    &:hover{
        overflow: visible;
        .menu-heading{
            h4{
                color: $theme-color;
            }
        }
    }
}

.verticalmenu {
    .navbar-collapse{
        margin:0;
        padding:0;
        border: none ;
    }
    .navbar-nav {
        position:static;
        @include clearfloat;
        > li {
            width: 100%;
            position: relative;
            position: static;
            border-bottom:1px solid $border-color;
            > a {
                display: block;
                text-transform: capitalize;
                padding: 12px 15px;
                color: $gray;
                font-family: $font-family-senary;
                position: relative;
                .menu-title{
                    @include rtl-margin-left(35px);
                }
                .menu-icon{
                    display: block;
                    min-height: 24px;
                }
                .fa {
                    @include rtl-margin-right(5px);
                    width: 20px;
                }

                .caret {
                    @include rtl-float-right();
                    @include rotate(-90deg);
                    margin-top: 8px;

                    .rtl & {
                        @include rotate(90deg);
                    }
                }

                &:hover {
                    color: $theme-color;
                }
            }
            // Hover li

            &.topdropdow:hover {
                position: static;
            }

            &:hover {
                background:#fafafa;
                > .dropdown-menu {
                    top: 0px;
                    @include opacity(1);
                    visibility: visible;
                    display: block;
                    @include rtl-left(99%);
                }
            }
            &:last-child {
                margin-bottom: 10px;
            }
            &:before {
                width: 10px;
                display: inline-block;
                color: $theme-color;
            }
            .parent {
                position: relative;
                > .dropdown-toggle {
                    text-transform: none;
                    font-weight: normal;
                }
                &:hover {
                    > .dropdown-menu {
                        @include rtl-right(100%);
                        top: 0px;
                        @include opacity(1);
                    }
                }
                &.dropdown-submenu {
                    &:hover {
                        .dropdown-menu {
                            @include rtl-right(115%);
                            display: block;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu {
        @include rtl-right(auto);
        @include rtl-left(110%);
        @include opacity(0);  
        @include transition(all 300ms ease-in-out 0s);
        @include transition(all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
        top:0;
        position:absolute;
        visibility: hidden;
        z-index: 999 ;
        display: block;
        min-width: $vertical-sub-menu-width;
        padding: 30px;
        border:none;
        &.level1 {
            .fa {
                display: none;
            }
            margin-top: -1px;
        }
        &.level2 {
            .fa {
                display: none;
            }
        }
        &.level3 {
            .fa {
                display: none;
            }
        }
        li {
            line-height: 25px;
        }

        ul {
            list-style-type: none;
            @include rtl-padding-left(0);
            > li {
                margin: 10px 0;
                > a{
                    font-family: $font-family-base;
                    color: $megamenu-sub-link-color;
                    &:hover {
                        color: $theme-color;
                    }
                }

                &:before {
                    width: 7px;
                    height: 8px;
                    display: inline-block;
                    background-image: url("#{$image-theme-path-base}list.png");
                    @include rtl-margin-right(5px);
                    content: "";

                    .rtl & {
                        @include rotate(180deg);
                    }
                }
            }
        }
    }
    .pavo-widget{
        margin-bottom: 30px;
    }
    .widget-heading {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 14px;
        color: $brand-default;
        text-transform: uppercase;
        font-family: $font-family-tertiary;
    }
    .bg1 {
        div.dropdown-menu {
            background-image: url("#{$image-theme-path-base}bg1.jpg");
            background-position: bottom right;
            background-repeat: no-repeat;
        }
    }

    .w-product {
        min-height: 120px;
    }
}