
$brand-primary:			#f93f45 !default;
$theme-color: 			#f93f45 !default;
//** Global textual link color.
//** Link hover color set via `darken()` function.
$link-hover-color:      #f93f45 !default;

//** Background color for `<body>`.
