<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <h1>Этот модуль необходим для создания карточки заказа, для 1С!</h1>
    <p>Если вы хотите, чтобы создавалась карточка заказа, то не отключайте этот модуль!</p>
</div>
<?php echo $footer; ?> 