
// Links
a {
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

//
// Buttons
// --------------------------------------------------
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.carousel-control{
	@include box-shadow(0 0 0 2px $brand-primary inset);
	color: $carousel-control-color;
	&:hover,
    &:focus {
    @include box-shadow(0 0 0 30px $brand-primary inset);
    color: $carousel-control-color-hover;
  }
}