.panel-default{
	border-radius:0;
	z-index: 1;
}
.footer-center{
	background:$gray-dark;
	.container-inner{
		background:transparent;
		border-radius:0;
	}
}
#powered{
	background:#313131;
	.container-inner{
		background:transparent;
		border-radius:0;
	}
} 
.widget-blogs{
	margin-top:0 !important;
}
.widget-carousel{
	margin-top:30px;
}