/* siderbar */
.sidebar{
}
/* category */
.category-info {
    padding: 0;
    .image {
        padding: 0;
    }
}
.category-description {
    margin-top: 20px;
}

.refine-search {
    ul, ol {
        list-style: none;
        li {
            padding: $padding-small-vertical 0;
            margin-right: 10px;
            padding-left:10px;
            margin-top:10px;
            line-height: normal;
            position: relative;
            @include rtl-float-left;
            &:before {
                content: "";
                position: absolute;
                @include size(3px, 3px);
                top: 50%;
                left: 0;
                background-color: $theme-color-default;
            }
        }
    }
}


//
// Account
// --------------------------------------------------------------------

//
// Resgister
// --------------------------------------------------------------------

//
// Login
// --------------------------------------------------------------------

//
// Checkout
// --------------------------------------------------------------------

//sider bar

 
.subcategories {
    margin-bottom: -1px;
    background-color: $product-filter-bg;
}

/* 
 *  LISTING PRODUCTS PAGE 
 */
.product-filter {
    // padding: $product-filter-padding;
    text-transform: uppercase;
    font-size: $product-filter-font-size;
    color: $product-filter-color;
    margin-bottom: $padding-base-horizontal - 5;
    margin-top: $padding-base-horizontal - 5;

    .filter-right > div {
        padding-left: 5px;
        margin: 5px 10px;
    }
    .display {
        @include rtl-float-left;
        margin: 5px;
    }
    .form-control {
        display: inline-block;
        width: auto;
        box-shadow: none;
        @include rounded-corners(3px);
        border:1px solid $border-color;
    }

        .btn-switch {
        @include size(38px,38px);
        display:  inline-block;
        border: 1px solid $border-color;
        @include rtl-margin-right(5px);
        @include rounded-corners(3px);
        background:transparent;
        padding: 0;
        line-height: 30px;
        &:hover,&.active {
            color: $product-filter-active;
            @include box-shadow (none);
        }
    }
}

.product-list{
    padding:30px 0;
     .product-col{
        width:100% !important;
        clear:both;
     }
    .product-block{ 
        overflow: hidden; 
        .description{
            display: block;
            overflow: hidden;
            height: 50px;
        }
        .name{
            padding:0;
            min-height: auto;
        }
        .image{
            width:30%;
            @include rtl-float-left;
        }
        .product-meta{
            width: 70%;
            @include rtl-float-right;
            @include rtl-text-align-left();
            padding: 0 $padding-large-horizontal;
            position: relative;

        }
        .bottom{
            position: relative;
            opacity: 1;
        }
        &:hover {
            box-shadow:none;
            z-index: 1;
            .action{
                box-shadow:none;
            }
            .product-meta {
                .bottom {
                    bottom:0 ;
                    min-height: 30px;
                }
            }
        }
    }
}
.product-block{
    .bottom{
        @include opacity(0);
        @include transition (all 400ms ease 0s);
        bottom:0;
        @include rtl-left(0);
        width: 100%;
        z-index: 999;
        position: absolute;
    }
    &:hover {
        @include box-shadow(0 -1px 3px 2px rgba(0, 0, 0, 0.1));
        @include transition (all 400ms ease 0s);
        z-index: 1;
        .action{
            @include box-shadow(0 5px 4px 2px rgba(0, 0, 0, 0.1));
        }
        .product-meta {
            .bottom {
                bottom:-30px ;
                min-height: 30px;
                @include opacity(1) ;
            }
        }
    }
}    

/* 
* PRODUCT INFORMATION PAGE
*/
// thumbail preview 
.thumbs-preview{
    &.horizontal{
        .left{
        }
        .right{
        }
    }
    &.vertical{
        padding-top: 30px;
        padding-bottom:30px;
    }
}
.product-info {
    margin-bottom: 30px;
    .bg-product-info{
        background-color:$white;
        display: block;
        margin-bottom: 30px;
        padding:30px;
    }
    .title-product{
    }
    .product-info-bg {
        position: relative;
        .title-product{
            margin-top: 0;
        }     
    }
    .box-product-infomation {
    }
    .thumbs-preview {
        margin-top: 10px;
        margin-bottom: 30px;
        img{
        }
    }
    .vertical {
        &.image-additional {
            position: relative;
            min-height: 432px;
            .carousel-control{
                @include opacity(0);
            }
        }
        &:hover {
            .carousel-control {
                @include opacity(1);
                @include transition(all 0.3s ease 0s);
            }
        }
        
        .center {
            @include rtl-left(50%) ;
            @include rtl-margin-left(-13px) ;
        }

        .top {
            top: 0;
        }

        .bottom {
           top: auto;
           bottom: 0;
        }
    }
    .horical {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;

        &:hover {
            .carousel-control {
                display: block;
                box-shadow:none;
                color: $brand-default;
                background:none;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
    .carousel-control{
        top: 35%;
        display: none;
        &.left{
            @include rtl-left(0) ;
        }
        &.right{
            @include rtl-right(0) ;
        }
    }
    .rating {
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color;
        padding-bottom:15px;
    }

    .cart {
        .links {
            @include inline-block;
            vertical-align: middle;
        }
        .fa-shopping-cart {
            @include rtl-margin-right(10px);
        }
    }
    .image {
        position: relative;
        text-align: center;
        border:1px solid $border-color;
        padding:30px;
    }
    img {
        display: inline-block;
    }
    .share {
        @include clearfix;
        padding: 20px 0;
        display: none;
    }
    .option-image {
        margin-top: 3px;
        margin-bottom: 10px;
        label {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            @include rtl-margin-right(5px);
            @include rtl-margin-left(0);
            border: 1px solid #CCCCCC;
            cursor: pointer;
        }
    }
    .options {
        margin-bottom: 20px;
    }
    .review {
        .share {
            line-height: normal;
            a {
                text-decoration: none;
            }
        }
        & > div {
            padding: 0;
            border: 0;
            & > span {
                color: #38B0E3;
            }
        }
    }
    .product-extra{
        border:1px solid $border-color;
        padding:30px;
    }

    .qty {
        line-height: 35px;
        font-weight: 13px;
        font-weight: 700;
        color: $gray-light;
        @include rtl-margin-right(30px);
    }

    .quantity-adder {
        color: $gray-light;
        display: block;
        height: 37px;
        width:100px;
        position: relative;
        @include rtl-margin-right(15px);
        .form-control{
            padding:8px 2px;
        }
        .add-action {
            @include size(15px, 15px);
            display: block;
            position: relative;
            cursor: pointer;
            font-size: $font-size-base - 3;
            line-height: 15px;
            text-align: center;
            background-color:#f7f7f7;
            color: $brand-default;
            border:1px solid $border-color-base;
            @include rtl-left(-20px);
        }
        & .add-down {
            margin-top: -1px;
        }
        & .add-up {
            margin-top: 4px;
        }
        .quantity-number {
            input {
                width:85px;
                height: 37px;
                text-align: center;
                @include inline-block;
                @include rounded-corners(0);
                border: 1px solid $border-color-base;
                box-shadow: none;
                color: $brand-default;
            }
        }
        .minimum {
            line-height: 38px;
            font-size: 11px;
            @include rtl-margin-left(10px);
        }
    }
    .action {
        @include clearfix;
        padding-bottom: 20px;
        padding-top: 20px;        
        > div {
            position: relative;
        }
    }
    .cart{
        .btn{
            padding: 10px 35px;
            @include rounded-corners(3px);
        }
    }
    .compare,.wishlist{
        color: $gray;
        font-size: $font-size-base - 1;
        cursor:pointer;
        @include rtl-margin-right(5px);
        i{
            padding-top:8px;
            @include rtl-margin-right(5px);
        }
        &:hover{
            color: $theme-color;
            @include transition(all 0.3s ease 0s);
            i{
                border-color:$theme-color;
            }
        }
    }
    .compare{
        @include rtl-padding-left(35px);
    }
    .tab-content {
        font-weight: 300;
    }
    .tags{
        a{
            color: $theme-color;
        }
    }
}

.zoomWindowContainer .zoomWindow {
    @include rtl_left(500px);
}

.refine-search {
    margin-top: 10px;
    .panel-heading{
        padding:0;
    }
    ul {
        list-style-position: inside;
        padding:0 10px;
    }

    h3 {
        color: #474747;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}