$brand-primary:			#f1521b !default;
$theme-color: 			#f1521b !default;
//** Global textual link color.
//** Link hover color set via `darken()` function.
$link-hover-color:      #f1521b !default;

//** Background color for `<body>`.
