.common-home{
	.panel-default{
		border-radius:0;
		background:transparent;
	}
}
.footer-center{
	background:#151515;
	.container-inner{
		background:transparent;
		border-radius:0;
	}
}
#powered{
	background:#0f0f0f;
	.container-inner{
		background:transparent;
		border-radius:0;
	}
} 
.widget-carousel{
	margin-top:30px;
}