.common-home{
	.panel-default{
		border-radius:0;
		z-index: 1;
		background:transparent;
		.panel-heading{
			border:none;
			padding-left:0;
			padding-right:0;
		}
	}
	.product-col{
		@include rtl-border-right(1px solid $border-color);
	}
}
.carousel-controls{
	@include rtl-right(0);
}
.widget-carousel{
	background:$white;
}
.footer-center{
	.container-inner{
		border-radius:0;
		background:#352614;
	}
}
#powered{
	.container-inner{
		border-radius:0;
		background:#332413;
	}
} 
.widget-blogs{
	.panel-body{
		background:$white;
	}
}