$gray-dark:#363636;
$body-bg:               #f4faec !default;
$brand-primary:			#78ae00 !default;
$theme-color: 			#78ae00 !default;
//** Global textual link color.
//** Link hover color set via `darken()` function.
$link-hover-color:      #78ae00 !default;

//** Background color for `<body>`.
