
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	/*-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000px;*/
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { text-align: center; position:relative;width:100%}
.customNavigation a{
		
	-webkit-tap-highlight-color:transparent;
	display: block;
    float: right;
    position: absolute;
	top: -45px;
    width: 27px;
	height:27px;
	padding:9px;
	border:1px solid #e8e8e8;
	border-radius:0;
}

.customNavigation a.prev {
    right:42px;
	color:#FFFFFF;
	cursor:pointer;
}
.customNavigation a.prev::before{
	color: #787878;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 25px;
    margin: 0 0px 0 0;
    vertical-align: middle;
	top:0px;
	position:absolute;
	right:10px;
}
.product-info .product-image .customNavigation span.prev::before{
	color: #787878;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 25px;
    margin: 0 -4px 0 0;
    vertical-align: middle;
	top:-1px;
	position:absolute;
	right:13px;
}
.customNavigation a.prev:hover::before, .customNavigation a.next:hover::before, .product-info .product-image .customNavigation span.next:hover::before, .product-info .product-image .customNavigation span.prev:hover::before{color:#fff;}

.product-image .customNavigation a.prev {left:0; color:#161b1e; width:20px;}
.product-image .customNavigation a.next {right:0; color:#161b1e; width:20px;}
.product-image  .customNavigation a {top:40px;}

.customNavigation a.prev:hover, .product-info .product-image .customNavigation span.next:hover{ color:#fff; background-color:#161b1e; border-color:#161b1e;}
.customNavigation a.next {
    right:13px;
	color:#FFFFFF;
	cursor:pointer;
}
.customNavigation a.next::before{
	color: #787878;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 25px;
    margin: 0 0px 0 0;
    vertical-align: middle;
	top:0px;
	position:absolute;
	right:9px;
}
.product-info .product-image .customNavigation span.next::before{
	color: #787878;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 25px;
    margin: 0 -4px 0 0;
    vertical-align: middle;
	top:-1px;
	position:absolute;
}
.customNavigation a.next:hover, .product-info .product-image .customNavigation span.prev:hover{color:#fff; background-color:#161b1e; border-color:#161b1e;}

.banners-slider-carousel .product-carousel{  width:auto; margin:0 34px; }
.banners-slider-carousel .customNavigation a.next:before{ right:12px; top:2px; margin:0px;}
.banners-slider-carousel .customNavigation a.prev:before{ right:13px; top:2px; margin:0px;}
.banners-slider-carousel .customNavigation a.prev {
    left:0px;
	top:111px;
	cursor:pointer;	
	right:auto;
}
.banners-slider-carousel .customNavigation a.prev:hover {text-decoration:none; z-index:999; border-color:#161b1e;}
.banners-slider-carousel .customNavigation a.next {
    right:0px;
	top:111px;
	left:auto;
}
.banners-slider-carousel .customNavigation a.next:hover 	{text-decoration:none; z-index:999; border-color:#161b1e;}
.banners-slider-carousel .customNavigation a{
	height:32px;
	width:32px;
	z-index:999; 
	color:#787878;
	cursor:pointer;
	opacity:0;  -moz-opacity:0; 	-webkit-opacity:0;	-ms-opacity:0;	-khtml-opacity:0;
}
.banners-slider-carousel:hover .customNavigation a{
	opacity:1; -moz-opacity: 1; 	-webkit-opacity: 1;	-ms-opacity: 1;	-khtml-opacity: 1; 
	transition: all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s;  	-webkit-transition: all 0.3s ease 0s; 	-ms-transition: all 0.3s ease 0s; 	-o-transition:all 0.3s ease 0s; 
}
.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation span.prev {
    left:0px;
	top:41px;
	position:absolute;	 
	cursor: pointer;
    height: 25px;
    padding: 9px;
    position: absolute;      
    width: 25px;
}
.product-info .product-image .customNavigation span.prev:hover 	{  text-decoration:none;}
.product-info .product-image .customNavigation span.next {	
    cursor: pointer;
    height: 25px;
    padding: 9px;
    position: absolute;
    right: 3px;
    top: 41px;
    width: 25px;
}
.product-info .product-image .customNavigation span.next:hover 	{text-decoration:none;}


