* { direction: rtl; }

.owl-carousel .owl-wrapper-outer{direction:ltr;}

/*-------------------------------------Float Left-------------------------------------*/
.header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,.pagination-right,
.category_filter .limit,.pull-right,.contact-info .right,.pagination-wrapper .page-link,
#cart,.close,#accordion .panel-heading .fa.fa-caret-down,#cart .button-container,.information-information .right,#button-search,
#search, .aboutme-read-more, .footer_bottom_right, .pagination-wrapper.top, .header_right
{float:left;}
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------Float Right-------------------------------------*/
.header-logo,.header-search,.category_filter .btn-list-grid,.compare-total,.category_filter .show,
.category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4,
.contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,
.pagination-wrapper .page-result,.nav-tabs > li,legend,.product-thumb .price-new,.product-thumb .price-old,
 #menu .categoryinner > ul,
.htabs .etabs li, .product_hover_block .action button, .one_third,  .testmonial-text, .tm-about-text,
.footer-percent, .footer_bottom_left, #column-left .product-image-block-inner, #column-right .product-image-block-inner,
.pagination > li > a, .pagination > li > span, .product-list .product-image-block-inner, .product-list .product-thumb .button-group,
.bx-viewport .slider-item .product-details .price, .bx-viewport .slider-item .product-details .price .price-old,
#column-left .price .price-new, #column-right .price .price-new, .header_left, .header_cart
{float:right;}
/*-------------------------------------------------------------------------------------*/

.text-right, .treeview-list .collapsable .expandable-hitarea, .treeview-list .expandable .collapsable-hitarea,
.treeview-list .expandable-hitarea, .treeview-list .collapsable-hitarea{text-align: left;}
.text-left, #top #currency .currency-select.btn-link, #top #language .dropdown-menu > li > a, a.submenu1, .level0 .level0 a,
#menu .cate_inner_bg > ul > li a, .footer-percent-inner .service-content, .container .page-title, .container .product-title, .container h2, .container h1,
.filterbox .panel-footer, .bx-viewport .slider-item .product-details h4
{text-align:right;}
.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:right;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, 
.input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-radius: 0px;
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	-moz-border-radius:0px;

}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
{
	border-radius: 0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
}
.top_button{left:15px; right:auto;}
.dropdown-menu{
	right:0px;
	left:auto ;
	float:right;
}
.dropdown-menu.pull-right {
    right: auto;
    left: 0;
}





.product-thumb .price-old{margin:0 5px 0 0; }
.category_list li {float: right;margin: 0 0 5px 5px;}
.category_filter .sort-by{float:right;margin:6px 0 0 10px;}
.flex-viewport {direction: ltr;}

.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ left:10px; right:auto; }
.product-list .sale{  left: 10px; right: auto;}
.customNavigation a.prev { left: 13px;  right: auto;}
.customNavigation a.next{ left:42px;  right: auto; }
.main-menu > ul > li ul > li > a.activSub{background-image: url("../../image/megnor/rtl/cat_arrow_hover_rtl.png"); background-repeat: no-repeat; background-position: left center; }
.main-menu > ul > li ul > li:hover > ul {left:auto; right:173px;}
.box .box-content ul li{ padding:4px 10px 4px 0; margin-right:0; }
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:3px; padding-right:0px }
ul.box-category > li ul > li > a{}
ul.box-category > li ul > li > a:hover{}
#footer .column li a{}
#footer .column li a:hover{}


.nav-tabs > li > a{margin-right:0; margin-left:5px;}
.breadcrumb>li+li:before{float:right;}
.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 7px; margin-right:0; }

.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}

.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
.product-right .btn-group .wishlist .fa,.product-right .btn-group .compare .fa{margin-right:0px; margin-left:5px;}


#topcontrol{ right:auto !important; left:10px !important; } 


#column-left .product-items .product-details, #column-right .product-items .product-details, #column-left .slider-item .product-details, #column-right .slider-item .product-details{float:right; text-align:right;}
.product-thumb .button-group button, #cart .text-right .addtocart, #cart .text-right .checkout{float:right;}
#cart .text-right .addtocart{margin:0 0 0 5px;}

.category_img {float:right;}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}
.information-sitemap .site-map ul{padding:0 40px 0 0 ;}

.addthis_toolbox.addthis_default_style {float:right;}
.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
    float: right;
	margin:3px 0 0 8px;
}
.radio, .checkbox,.radio-inline, .checkbox-inline{padding-left:0;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-right:10px; margin-left:0;}
.toggle .mobile_togglemenu{left:5px; right:auto;}

.col-sm-offset-8{margin-left:0; margin-right:66.66666666666666%; float:left;}

#accordion label.col-sm-2.control-label{padding:0 0 0 15px;}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:0px; margin-right:5px;}
#accordion .form-horizontal .control-label {text-align:right;}
.checkout-checkout #accordion label.col-sm-2.control-label{padding-left:0; padding-right:15px;}

#bottom-footer li{padding:1px 2px 1px 7px; background-position:left center;}

.main-navigation ul:last-child .categorycolumn{margin-left:0;}
.blog_inner{margin-right:0; margin-left:20px;}
#blog .customNavigation a.prev{right:auto; left:36px;}
#blog .customNavigation a.next{left:62px; right:auto;}

.product-block-image .post-author{left:auto; right:20px;}
.product-block-image .post-author::before{left:auto; right:0;}

.testmonial-image{float:right; margin:0 0px 15px 15px;}
.news-text{float:right; margin-left:0; margin-right:30px; padding-left:0; padding-right:30px; border-left:medium none; border-right:1px solid #bebebe;}
.footer-percent-inner .icon{float:right; margin:0 0 10px 15px;}
#footer .col-sm-3.column.last .fa{float:right; margin-left:15px; margin-right:0;}
.social_block li{margin:0 0 0 20px;}
.social_block li:last-child{margin-left:0;}
.footer_bottom_right > p, .footer_right{float:right;}
.footer_bottom_right > p{margin-left:7px; margin-right:0;}
.footer_right .payment_block li{margin-right:9px; margin-left:0;}
#footer .col-sm-3.column{padding:50px 0px 50px 30px;}

.layout-2.left-col #content{padding:0 13px 0 15px;}
.layout-2.right-col #content{padding:0 15px 0 13px;}
.box .box-content ul li ul li a::after, #content .content ul li ul li a::after{
	left:auto; 
	right:-10px;
	content: "\f104";
    font-family: "FontAwesome";
    font-size: 15px;
    position: relative;
	}
.box .box-content ul li ul li a::before, #content .content ul li ul li a::before{content:none;}
.breadcrumb{left:0; right:auto;}
.category_filter #grid-view{margin-right:0; margin-left:5px; float:right; background-position:-2px -38px;}
.category_filter #grid-view:hover, .category_filter #grid-view.active{background-position:-2px -9px;}
.category_filter #list-view{margin-right:0; margin-left:10px; background-position:-31px -38px;}
.category_filter #list-view:hover, .category_filter #list-view.active{background-position:-31px -9px;}
.product-list .product-image-block-inner{margin-right:0; margin-left:30px;}
.product-list .button-group.list .addtocart, .qty #button-cart{margin:0 0 0 -1px;}
.product-list .button-group.list .wishlist{margin-left:-1px; margin-right:0;}
.product-list .button-group.list .addtocart{padding:10px 50px 10px 15px; background-position:79px 11px;} 
.qty #button-cart{padding:10px 50px 10px 15px; background-position:75px -51px;}
.product-list .button-group.list .addtocart:hover{background-position:79px -51px;}

.productpage .product-left{padding-right:15px; padding-left:25px;}
#column-right .bx-viewport .image, #column-left .bx-viewport .image{float:right; margin-left:6px; margin-right:1px;}
.bx-viewport .slider-item .product-details .price .price-old{margin-right:0; margin-left:5px;}
.productpage .product-right{padding:0 0 0 25px;}
#column-right .bx-controls-direction, #column-left .bx-controls-direction{right:auto; left:10px;}
.product-description .description-right{padding-right:15px; padding-left:0;}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{margin-left:0; margin-right:-1px;}
.form-group.qty .control-label{float:right; margin:12px 0px 0 10px;}
.productpage #input-quantity{float:right; margin-right:0; margin-left:15px;}
.qty #button-cart{margin:0;}
.productpage .review-count {
    border-left: 1px solid #d4d4d4;
	border-right:medium none;
    margin-left: 0;
	margin-right:10px;
    padding-left: 10px;
	padding-right:0;
}
.productpage .product-right ul li span.old-price{float:right; margin-right:0; margin-left:10px;}


.checkout-cart #content .buttons .pull-right .btn:hover{padding:6px 12px 6px 30px;}
.checkout-cart #content .buttons .pull-right .btn::before {
    content: "\f060";
    font-family: "fontawesome";
    font-size: 12px;
    right: 108px;
    position: absolute;
    top: 9px;
    transition: all 0.3s ease 0s;
	-moz-transition: transform 0.3s ease 0s;
	-webkit-transition: transform 0.3s ease 0s;
	-ms-transition: transform 0.3s ease 0s;
	-o-transition: transform 0.3s ease 0s;
}
.checkout-cart #content .buttons .pull-right .btn:hover::before{
    right: 75px;
	left:auto;
    transition: all 0.3s ease 0s;
	-moz-transition: transform 0.3s ease 0s;
	-webkit-transition: transform 0.3s ease 0s;
	-ms-transition: transform 0.3s ease 0s;
	-o-transition: transform 0.3s ease 0s;
}
.address-detail .btn {
    float: right;
    margin: 20px 35px 0 0px;
}
.affiliate-tracking .dropdown-menu{left:auto !important; right:15px;}
#column-left .product-thumb .price-old, #column-right .product-thumb .price-old{margin-right:0;}
#column-left .price .price-new, #column-right .price .price-new{margin-right:0; margin-left:5px;}
.qty #button-cart:hover{background-position:75px 11px;}
.contact_us a{margin-right:0; margin-left:5px;}



#top #language .btn-link, #top-links li{border-left:medium none; border-right:1px solid #33bae5;}
#top #currency .btn-link{ padding: 3px 0px 3px 12px; }
.list-inline {padding-right:0;}
#top-links li:last-child{padding:4px 12px 4px 0px;}
#top-links li:first-child{border-right:medium none;}
#top-links .myaccount-menu{right:auto; left:-3px;}
.contact_us { border-left: 1px solid #33bae5; border-right:none; float: right; margin: 16px 0 0 32px; padding: 0 0 0 38px;}
.contact_us .telephone{ float:right;}
.contact_us .cms-data { float: right;  padding: 0 15px 0 0; text-align:right;}
#cart-total{ left:6px; right:auto;}
.header_right .header_search{ left:0px; right:auto;}
#search .btn-lg{ margin:0 4px 0 0;}
#menu > ul > li {float:right; margin:0 0 0 1px;}
#menu > ul > li > div{left:auto; right:0;}
.categorycolumn{float:right; margin-left:10px; margin-right:0px;}
/*#menu .cate_inner_bg > ul > li a::before{
	color: #fff;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 15px;
    right: 0;
    position: absolute;
    top: 4px;
}*/
/*#menu .cate_inner_bg > ul > li a{padding:5px 10px 5px 0px;}*/
.cms-banner1 .static-wrapper{ text-align:left;}
.static-wrapper{text-align:left;}
.cms3 .one_third_inner.content_inner{margin-left:0; margin-right:20px;}
.cms1 .one_third_inner.content_inner{margin-left:20px; margin-right:0;}
.caret::before{right:auto; left:4px;}
.caret{margin-left:0; margin-right:8px;}

.hometab .box .box-content .customNavigation a.prev, #blog-carousel .owl-controls .owl-buttons .owl-prev, .hometab .box .box-content .customNavigation a.next, #blog-carousel .owl-controls .owl-buttons .owl-next{left:auto; right:auto; }
.cms-banner-inner img {
    transform: translate3d(10px, 0px, 0px);
	-moz-transform: translate3d(10px, 0px, 0px);
	-webkit-transform: translate3d(10px, 0px, 0px);
	-ms-transform: translate3d(10px, 0px, 0px);
	-o-transform: translate3d(10px, 0px, 0px);
}
.product-grid li, #content .box-product .product-items, .box .box-product .product-items{ float:right;}
.product_hover_block .cart_button span{ background-position:right -58px; padding:4px 33px 0 0;}
.product_hover_block .cart_button:hover span{ background-position:right 4px;}
.table.table-bordered .input-group-btn, .checkout-cart .input-group.btn-block .form-control{ float:right;}
.form-horizontal .control-label{ text-align:right;}
.box.category .box-heading::before, .box .box-heading::before{ right:25px; left:auto;}
.box .box-content ul li a::before, #content .content ul li a::before, .list-group a::before {
    content: "\f104";
    right: -10px;
	left:auto; float:right;
}
.related .box-heading::before{ right:0px; left:auto;}





@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
	}
	.product-list .product-thumb .image {float: right;}
}
.contact-info .address-detail strong{  padding: 5px 45px 0 0; background-position:right -235px; float:right;}
.contact-info .telephone strong{  padding: 5px 45px 0 0; background-position:right -314px; float:right;}
.contact-info .fax strong{  padding: 5px 45px 0 0; background-position:right -272px; float:right;}
.contact-info address{float:right; margin: 0 40px 0 0;}

/*Megnor Blog CSS */ 
#content .box-product .blog-items {  float:right; }
.blog-left { float:right; }
.blog-right { float:right; }
.view-blog { text-align:right;}
.read-more { float:right; margin-left:10px; padding-left:10px; margin-right:0; padding-right:0px;}
.blog_links .write-comment { margin: 0 10px 0 0;    padding: 0 5px 0 0;}
.blog_links .fa, .box.blogs .blog_autor .fa { margin-left: 5px; margin-right:0px;}
.date-time { float:right; text-align:left; }
.blog-date { float:left; }
#content #blog-carousel .blog-item{ float:right;}
.blogs .date-time{ float:right; margin:0 0 0 20px;}
.read-more .fa, .write-comment .fa{ margin-left:5px; margin-right:0px;}
.entry-blog-header .blog-date { float: right;   margin: 0 0 0 30px;}
.user_icon {
    float: right;
    margin: 2px 0px 15px 15px;
}
.write-comment {  margin: 0 0 0 10px;  padding: 0 0 0 10px; float:right;}
/*Megnor Blog CSS */ 
.pagination > li:first-child > a, .pagination > li:first-child > span{ margin-left:-1px;}
#content .blogs #blog-carousel .owl-buttons, .customNavigation{ direction:ltr;}
/*.zoomContainer .zoomWindow {
    left: auto !important;
    right: 404px !important;
	margin:-1px 4px 0 0;
}*/



/*-------------------------------------RTL Responsive-------------------------------------*/

@media (max-width: 1240px) {
	.blog_inner .product-carousel{margin-left:0px; margin-right:-15px;}
	#blog .customNavigation a.prev{left:28px; right:auto;}
	#blog .customNavigation a.next{left:54px; right:auto;}
	#footer .col-sm-3.column{padding:50px 0px 50px 17px;}
	/*.zoomContainer .zoomWindow{ right:325px !important;}*/
}

@media (max-width: 1023px) {
	.pagination-wrapper.top{margin:0px;}
	/*.zoomContainer .zoomWindow{ right:303px !important;}*/
}

@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:-5px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left -50px; }
	.active .mobile_togglemenu{background-position:left 2px;}
	 .pagination-right{float:right;}
	 
	 .nav-responsive .expandable::before{right:auto; left:12px;}
	 .cms1 .one_third_inner.content_inner{margin-right:0; margin-left:12px;}
	 .cms3 .one_third_inner.content_inner{margin-left:0; margin-right:12px;}
	 .pagination-wrapper.top{float:right; margin:15px 0 0;}
	 .layout-2.right-col #content{ padding-left:15px;}
	 .layout-2.right-col #column-right{float:right;}
	 #column-left .box-product .image, #column-right .box-product .image{margin-right:0; margin-left:5px;}
	 .productpage .product-right{padding:0 0 0 15px;}
	 #footer .col-sm-3.column{padding:0;}
	 .compare-total{ margin:18px 0 0 10px;}
	  .checkout-cart .table.table-bordered .input-group-btn{float:right;}
	  .checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group { margin-left: 5px;  margin-right: 0;}
	  .checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward { margin-left: 0; margin-right: 5px;}
	/* .zoomContainer .zoomWindow{ right:324px !important;}*/
}
@media (max-width: 767px) {
	.header-logo,.header-search,.header-cart{display:inline-block;float:none;width:100%;}
	.header-logo{text-align:center;}
	.header-logo > div{display:inline-block;}
	.header-cart { margin: 0 auto; padding: 0;width: 200px;}	
	.category_filter .show {float: right; margin: 3px 0 0 10px;}
	.header-cart #cart{float:none;}
	.header-cart{width:100%; display:inline-block; text-align:center;}
	 .table-responsive {float: right; }
	
	 
	  .hometab-heading, .tm-about-text{float:none;}
	 .htabs{margin-left:0; text-align:center;}
	 .blog_inner{margin-left:0;}
	 
	 #blog .customNavigation a.prev{left:0;}
	 #blog .customNavigation a.next{left:26px;}
	 .blog_inner .product-carousel{margin-right:0;}
	 .news-text{border-right:medium none; margin-right:0; padding-right:0;}
	 .footer_bottom_left, .footer_bottom_right, .footer_bottom_right > p, .footer_right{float:none;}
	 .breadcrumb{ right:auto; left:auto;}
	 .layout-2.left-col #content, .layout-2.right-col #content{padding:0 15px;}
	 .productpage .product-right{padding:0 15px;}
	 .cms3 .one_third_inner.content_inner,.cms1 .one_third_inner.content_inner{margin:0px;}

	 .productpage .product-left{padding-left:15px;}
	 .header_right, .header_left{ float:none;}
	 .contact_us{ float:none; margin:0 0 0 32px;}
	 .header_cart, #cart, #search{ float:none;}
	 .header_right .header_search{ left:auto;}
	.view-blog{ text-align:center;}
	.cms_outer .res_head .banner_toggle::before{ left:15px; right:auto;}
}
@media only screen and (max-width: 479px) {
	.table{float: right; display:inline;}
	.pagination-wrapper .page-link{float:right;}
	.pagination-wrapper .page-result{float:right;clear:both;}
	.checkout-cart .pull-right {clear: both; float: right; margin: 10px 0;}
	.checkout-cart #accordion .input-group-btn{float:right;}
	
	#top-links li:last-child{padding:0;}
	#top-links li{border-right:medium none;}
	.aboutme-read-more{float:none;}
	.nav-tabs > li > a{margin-left:0;}
	.checkout-cart .col-sm-offset-8{margin-right:0;}
	.htabs li:first-child a, .htabs li a{ margin:0px 0 2px;}
	.checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward{ margin:0px;}
	.panel-body .entry-blog-header .blog_links { margin: 10px 102px 20px 0px;}
	.productpage #input-quantity{float:none;}
	.cms3 .one_third_inner.content_inner{ margin-right:0px;}
	.cms1 .one_third_inner.content_inner{ margin-left:0px;}
	
}
@media only screen and (max-width: 319px){
	.contact_us{ margin:0; padding:0 0 0 5px;} .contact_us .cms-data{ padding:0 5px 0 0;}
}

