
.product-block{
    .product-img {
        position: relative;
        overflow: hidden;
    }
    .action {
        background-color: #ffffff;
        @include transition(all 0.4s ease-in-out 0s);
        padding:10px 0;
        > div {
            border-right: 1px solid $border-color;
            @include rtl-border-right(1px solid $border-color);
            opacity: 0;
            text-align: center;
            width: 15%;
            display: inline-block;
            @include transition(all 0.5s ease-in-out 0s);
            height: 18px;
            line-height: 18px;
            &:last-child{
                border-right:0;
            }
        }
        button.btn-action{
            background-color: transparent;
            border:none;
            padding:0;
            &:hover{
                color: $theme-color;
            }
        }
        .cart{
            width:65%;
            i{
                @include rtl-padding-right(5px);
            }
        }
    }
    &:hover {
        .action{
            > div{
                opacity: 1;
            }          
        }
    }
}    

// effect banner
.effect {
    position: relative;
    overflow: hidden;
    .overlay {
      &::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        @include rtl-left(0);
        @include transition(all 300ms ease-in-out);
      }
    }
    &:hover{
      .overlay::before{
          @include box-shadow(0 0 0 20px rgba(255, 255, 255, 0.4) inset);   
      }
  }
}

