.#{$block-prefix}-highlighted {
    border: $block-module-highlighted-border;   
    .#{$block-heading-selector} {
            background: $block-module-highlighted-bg;
            color: $block-module-footer-heading-color   ; 
    }
    .#{$block-content-selector}{
           
    }
}
.nopadding{
    .panel-body{
        padding:0;
    }
    .block-content{
        padding:0 !important;
    }
}
#sidebar-main{
    .content-inner{
        background-color: #ffffff;
        padding:30px;
        border:1px solid $border-color;
        .page-title{
            margin-top: 0;
        }
    }
}
.sidebar{
    .productdeals{
        border:1px solid $white !important;
    }
    .panel-default{
        border:1px solid $border-color;
        .panel-heading{
            padding:20px 20px 20px 0;
            .panel-title{
                margin-bottom: 0;
            }
        }
        &.hightlight{
            margin-top: 0;
            .panel-heading{
                background-color:$theme-color;
                .panel-title{
                    color: $white;
                }
            }
        }
    }
    .panel-body{
        padding:0;
    }
    .panel{
        .list-group{
            box-shadow:none;
            margin: 0;
        }
        .panel-heading{            
            .panel-title{
                @include rtl-padding-left(20px);
                text-transform: uppercase;
                font-size: 16px;
                font-family: $font-family-tertiary;
            }
        }
        .list-group{
            .list-group-item{
                border-width:1px 0;
                padding:14px 20px;
                &:last-child{
                    border-bottom:0;
                }
            }
        }
    }
    .nopadding{
        .panel-body{
            padding:0;
        }
    }
    &.noborder{
        .panel{
            .panel-heading{
                border-bottom:0;
                padding-bottom:0;
            }
        }
    }
}
.nostylingboxs{
    .#{$block-selector} {
        border:none;
        background:none;
        box-shadow:none;
    }
    .#{$block-heading-selector} {
       background-color: transparent;
        padding-left:0;
        padding-right:0
    }
    .#{$block-content-selector} {
        background-color: transparent;
        padding-left:0;
        padding-right:0
    }
}