/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.pavothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:pavothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/
body{
    &.layout-fullwidth{
        background-color:$body-bg;
    }    
    &.layout-boxed-lg{     
        #page {
            max-width: $container-lg;
            margin: 0 auto;
            overflow: hidden;
            background-color:$body-bg;
        }
    }
}
.common-home{
    &.version-3{
        background-image:url("#{$image-theme-path}bg-h3.jpg");
        background-repeat:no-repeat;
        background-color:#373737;
        background-position:center top;
    }
}
#page{
    overflow: hidden;
    @include transition(all 500ms ease 0s);
}
/*
* HEADER 
*/
#topbar{    
    font-size: $topbar-font-size;
    font-family: $topbar-bg-font;
    line-height: $topbar-height;
    .container{
        background:$topbar-bg;
        border-bottom-right-radius:3px;
        border-bottom-left-radius:3px;
    }
    a{
        color: $topbar-color;
        padding:3px 5px;
        &:hover{
            color: $topbar-link-hover;
            @include transition (all 0.2s ease-in-out 0s);
        }
    }
    .dropdown {
        position: relative;
        img{
            vertical-align: inherit;
            @include rtl-margin-right(5px);
        }
        .dropdown-toggle {
            width: auto;
            color: $topbar-color;
            @include transition (all 0.2s ease-in-out 0s);
            cursor: pointer;
            padding:0;
            text-decoration: none;
            font-family: $topbar-bg-font;
            font-size: $topbar-font-size;
        }
        &:hover .dropdown-toggle{
                color:$topbar-link-hover;
                @include transition (all 0.2s ease-in-out 0s);
                background: transparent;
        }
        > .dropdown-menu {
            @include rtl-left(-15px);
            @include rtl-right(auto); 
            top: 130%;
            margin: -1px 0 0;
            @include opacity(0);  
            @include transition(all 300ms ease-in-out 0s);
            border: medium none;
            display: block;
            margin-top: 0;
            min-width:150px;
            padding: 0;
            position: absolute;
            visibility: hidden;
            z-index: 999 ;
            button{
                color: $topbar-color;
                @include rtl-text-align-left();
                padding: 3px 14px;
                &:hover{
                    color: $topbar-link-hover;
                    @include transition (all 0.2s ease-in-out 0s);
                }
            }
        }
        &:hover {
            .dropdown-menu{
                visibility: visible;
                @include opacity(1); 
                top:100% ;
            }
        }
    }
}
.call-top{
    b{
        color: #363636;
        font-family: $font-family-senary;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 14px;
    }
    span{
        @include rtl-float-right;
        color: #adafac;
        font-size: 11px;
        font-family: $font-family-four;
        line-height: 16px;
        span{
            color: $theme-color;
            float: none;
        }
    }
    strong{
        background:transparent;
        color: $theme-color;
        font-size: 28px;
        line-height: 36px;
        @include size(36px,36px);
    }
}
.header-inner{
    background-image:url("#{$image-theme-path}bg-header.jpg");
    background-position:center top;
    background-repeat:no-repeat;
}
.header-wrap{
    background-image:url("#{$image-theme-path}bg-header-h3.jpg");
    background-position:center top;
    background-repeat:no-repeat;
    #header-main{
        padding:32px 0;
    }
    #header-bottom{
        background:rgba(22, 16, 11, .5);
        #pav-megamenu{
            .navbar-nav > li{
                @include rtl-border-right(0);
            }
        }
        .top-verticalmenu .menu-heading{
            background: #272216;
        }
    }
}
#header-layout{
    position: relative;
}
#header-main {
    padding:35px 0 50px;
}
#header-center {
    background-image:url("#{$image-theme-path}bg-menu.jpg");
    background-position:center bottom;
    background-repeat:no-repeat;
    position: relative;
    min-height: 61px;
    .container{
        @include gradient-vertical(#1cba37,#15972b,0%,100%);
        position: absolute;
        bottom:30px;
        left: 0;
        right: 0;
        
        margin: 0 auto;
        border-radius:3px;
    }
}
#header-layout {
    .container {
    }
    .logo {
        display: inline-block;
        text-align: center;
        > img {
            display: inline-block;
        }
    }
    #logo-theme{
        a{
            background-image:url("#{$image-theme-path}logo.png");
            display: inline-block;
            background-repeat:no-repeat;
            @include size(152px,41px);
            span{
                display: none;
            }
        }
    }
    &.header-v2{
        #logo-theme{
            a{
                background-image:url("#{$image-theme-path}logo2.png");
            }
        }
    }
    &.header-v3{
        #logo-theme{
            a{
                background-image:url("#{$image-theme-path}logo3.png");
            }
        }
    }
    &.header-v4{
        #logo-theme{
            a{
                background-image:url("#{$image-theme-path}logo4.png");
            }
        }
    }
    &.header-v5{
        #logo-theme{
            a{
                background-image:url("#{$image-theme-path}logo5.png");
            }
        }
    }
    &.header-v6{
        #logo-theme{
            a{
                background-image:url("#{$image-theme-path}logo6.png");
            }
        }
    }
}
.header-v1{
    #topbar{
        .container-inner{
            padding:0 15px;
        }
    }
}
.textlight-menu{
    #pav-megamenu{
        .navbar-nav > li{
            > a{
                color: $white;
                &:hover,&:focus,&:active{
                    &:before {
                        background: $white;
                    }
                    color: $white;
                    span , .caret,.caret:before{
                        color: $white;
                    }
                }
            }
            &:hover > a .caret, 
            &:active > a .caret{
                color: $white;
            }
        }
        .dropdown:hover > a{
            color: #363636;
        }
    }
}
.textdark-menu{
    #pav-megamenu{
        .navbar-nav > li{
            @include rtl-border-right(1px solid #e9eede);
            > a{
                color: #363636;
                &:hover,&:focus,&:active{
                    &:before {
                        background: #363636;
                    }
                    color: #363636;
                    span , .caret,.caret:before{
                        color: #363636;
                    }
                }
            }
            &:hover > a .caret, 
            &:active > a .caret{
                color: #363636;
            }
            &:last-child{
                @include rtl-border-right(0);
            }
        }
        .dropdown:hover > a{
            color: #363636;
        }
    }
}
.same-style{
    .cart-top .icon-cart{
        display: inline-block;
        height: 30px;
        width: 38px;
        background-repeat:no-repeat;
        background-color:transparent;
        background-position:center bottom;
        border-radius:0;

    }
    .cart-top .cart-inner a{
        line-height: 16px;
    }
    .wrap-cart{
        b{
            font-weight: normal;
            font-family: $font-family-senary;       
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    .cart-total{
        color: #adafac;
        font-size: 11px;
    }
    #header-main{
        padding:31px 0;
    }
}
//header v2
.header-v2{
    #topbar{
        background:#363636;
        .container{
            background:transparent;
        }
    }
    .cart-top .icon-cart{
        background-image: url("#{$image-theme-path}cart.png");
    }
    .wrap-cart{
        b{
            color: #363636;
        }
    }
    #header-bot{
        background:$white;
        border-bottom:1px solid #e9eede;
        border-top:1px solid #e9eede;
    }

}
//header v3
.header-v3{
    #topbar{
        .container{
            background:transparent;
            .container-inner{
                background:$white;
                min-height: 41px;
                padding:0 15px;
            }
        }
    }
    .cart-top .icon-cart{
        background-image: url("#{$image-theme-path}cart3.png");
    }
    .wrap-cart{
        b{
            color: $white;
        }
    }
    .call-top{
        b{
            color: $white;
        }
        span{
            span{
                color: $theme-color;
                float: none;
            }
        }
        strong{
            color: $theme-color;
        }
    }
    .cart-top{
        @include rtl-padding-right(50px);
    }
}
//header v4
.header-v4{
    #topbar{
        background:#1a1a1a;
        .container{
            background:transparent;
        }
    }
    .cart-top .icon-cart{
        background-image: url("#{$image-theme-path}cart4.png");
    }
    #header-bot{
        background:#f1cf41;
        border-bottom:1px solid transparent;
        border-top:1px solid transparent;
        #pav-megamenu{
            .navbar-nav > li{
                @include rtl-border-right(1px solid #f4dc75);
                &:last-child{
                    @include rtl-border-right(0);
                }
            }
        }
        #search{
            @include rtl-border-left(1px solid #f4dc75);
            i{
                color: #363636;
            }
        }
    }

}
//header v5
.header-v5{
    #topbar{
        background:#352614;
        .container{
            background:transparent;
        }
    }
    .cart-top .icon-cart{
        background-image: url("#{$image-theme-path}cart5.png");
    }
    #header-bot{
        background:#352614;
        border-bottom:1px solid transparent;
        border-top:1px solid transparent;
        #pav-megamenu{
            .navbar-nav > li{
                @include rtl-border-right(1px solid #473a29);
                &:last-child{
                    @include rtl-border-right(0);
                }
            }
        }
        #search{
            @include rtl-border-left(1px solid #473a29);
            i{
                color: $white;
            }
        }
    }

}
//header v5
.header-v6{
    #topbar{
        background:$white;
        .container{
            background:transparent;
        }
    }
    .cart-top .icon-cart{
        background-image: url("#{$image-theme-path}cart6.png");
    }
    #header-bot{
        background:#db6d78;
        border-bottom:1px solid #dd7a83;
        border-top:1px solid transparent;
        #pav-megamenu{
            .navbar-nav > li{
                @include rtl-border-right(1px solid #dd7a83);
                &:last-child{
                    @include rtl-border-right(0);
                }
            }
        }
        #search{
            @include rtl-border-left(1px solid #dd7a83);
            i{
                color: $white;
            }
        }
    }

}
/*
* CONTENT
 */

#pav-masshead {
    .inner {
        @include container-layout-variant($masshead-color, $masshead-bg, $masshead-color, lighten($masshead-color, 5%));
    }
}

#notification {
    width: 75%;
    margin:0 auto;
    > div {
        margin-bottom: 20px;
    }
}

.breadcrumbs{ 
    background:#f5f5f5;
    .container-inner{          
        padding:15px 0;
    } 
}
/*
* NAVIGATION
*/
#pav-mainnav {
    .inner {
        background-color: $theme-color-secondary;
    }
}

/*
* SLIDESHOW 
*/
#pavo-slideshow {}

/*
* SHOWCASE 
*/
#pavo-showcase {
    .inner {
        background-color: $showcase-bg;
    }
}

/*
* PROMOTION TOP 
*/
#pav-promotion {}

#breadcrumb {
    padding-left: 0;
    padding-right: 0;
}

/*
* MAIN CONTENT
*/

#pavo-mass-bottom {
    .inner {
        background-color: $white;
    }
}

/**
 * Overidding css some elements inside
 */
.sidebar{
    .box-content{
        margin-top: 30px;
    }
    .products-row{
        .product-col{
            width:100% !important;
            margin-bottom:0;
            @include rtl-border-right(0);
            clear:both;
                .product-block{ 
                        overflow: hidden;                        
                        margin-top: 20px;
                    .image{
                        width: 35%;
                        @include rtl-float-left();
                    }
                    .product-meta{
                        width: 65%;
                        @include rtl-float-right();
                        @include rtl-text-align-left();
                        @include rtl-padding-left(10px);
                        .rating{
                            display: none;
                        }
                    }
                    .top{
                        padding:0;
                    } 
                    .name {
                        height: 52px;
                        min-height: 52px;
                    }
                    &:hover .quickview{
                        display: none;
                    }
                    &:hover{
                        box-shadow:none;
                    }
                }
            &:last-child{
                .product-block{
                    /* border-bottom:0; */
                }
            }
            &:first-child{
                .product-block{               
                }
            }
            &:hover{
                box-shadow:none;
            }
        }
        .bottom,.product-label,.action, .quickview, .zoom,.description{
            display: none;
        }
    }
    .list {
        .product-col{
            margin: 0;
        }
        .product-block{
            .product-meta,.name{
                padding:0;
                @include rtl-text-align-left();
                .rating{
                    display: none;
                }
            }
            .image{
                @include rtl-padding-right(10px);
                @include rtl-float-left();
            }
            .quickview,.zoom{
                display: none;
            }
        }
    }
    .pavblog-latest{
        [class*="col-"],[class^="col-"]{
            width:100%;               
        }    
    }
    [class^="col-"]:last-child{
        .blog-body{
            border: 0;
        }
    }
    ul,ol{
        list-style: none;
        padding-left:0;
        padding-right:0;
        li{
            padding:8px 20px;
            a{
                display: inline-block;
                color: $gray-dark;
                &:hover{
                    color: $theme-color;
                }
                &.active{
                    color: $theme-color;
                }
            }            
            ul{
                padding-top:8px;
                li{
                    @include rtl-padding-left(15px !important);
                    &:first-child{
                        padding-top:0 !important
                    }
                }
            }
            &:first-child{
            }
            .fa{
                cursor: pointer;
            }
            &:hover{
                .fa{
                    color: $theme-color;
                }
            }
        }
    }
    .list-product{
        &.panel-default{
            .panel-heading{
                padding:30px 30px 0;
                .panel-title{
                    margin-bottom: 20px;
                }
            }      
        }
        .product-block {
            padding-bottom:20px;
            .image{
                width: 100%;
                float: none;
                margin: 0;
            }
            .description,.price-tax{
                display: none
            }
            .name{
                margin-bottom: 10px;
                margin-top: 0;
                min-height: auto;
                a{
                    font-size: 13px;
                }
            }
            &:hover{
                box-shadow:none;
            }
        }
    }
    
}
.content-inner{
    margin-bottom: 40px;
}
/*end*/
/* FOOTER */
#footer {
    @include clearfix;
    margin-top: 30px;
}

.footer-top {
    margin-bottom: -50px;
    .container{
    }
    .panel-body{
        padding:0;
    }
}

.footer-center {
    .container-inner {
        background:$footer-center-bg;
        padding:0 35px;
        border-top-right-radius:3px;
        border-top-left-radius:3px;
        .column {
            padding: 50px 25px;
            min-height: 300px;
            line-height: 30px;            
            @include container-layout-variant($footer-center-color, transparent, $footer-center-link, $footer-center-link-hover);
            .panel-heading{
                margin-bottom: 0;
                border:none;
                &:before{
                    content: none;
                }
            }
            .panel-title{
                font-size: $font-size-base + 3;
                font-family: $font-family-senary;
                color: $white;
            }
        }
    }
    ul{        
        li{
            i{
                @include rtl-margin-right(10px);
            }
        }
    }
}

.footer-bottom {
    .container {
        .inside {
            @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-link, $footer-bottom-link-hover);
            padding: $footer-padding;
        }
    }
}

/* POWER BY */
#powered {
    margin-bottom: 45px;
    .container-inner {
        padding: 30px $grid-gutter-width / 2;
        position: relative;
        text-align: center;
        color: #8b8b8b;
        background: $power-bg;
        border-bottom-right-radius:3px;
        border-bottom-left-radius:3px;
        a{
            color: #8b8b8b;
            &:hover{
                color: $power-link-color-hover;
            }
        } 
        .paypal{
            margin-top: 20px;
        }       
    }
}

// @mixin container-layout-variant($color, $background, $linkcolor,  $link-hover-color )