// module cart
#cart-top{
  cursor: pointer;
  position: relative;
  @include rtl-float-right();
}
.cart-search{
    a{
        cursor: pointer;
    }
}
.cart-right{
  .cart-top{
    .cart-inner{
      position: relative;
      a{
        color: $white;
        text-transform: uppercase;
        line-height: 16px;
        .cart-total{
          font-size: 11px;
        }
      }
    }
  }
}
.cart-top {
    .wrap-cart{
        display: inline-block;
        @include rtl-margin-left(8px);
    }
    .icon-cart{
        @include rtl-float-left();
        height: 42px;
        line-height: 42px;
        width: 42px;
        background-image: url("#{$image-theme-path}icon-cart.png");
        background-position:center center;
        background-repeat:no-repeat;
        background-color:$theme-color;
        border-radius:50px;
    }
    .dropdown-menu {
        padding: 10px;
        min-height: 100px;      
        height: auto !important;      
        min-width: 445px;
        @include opacity(0);  
        right: 15px;
        left: auto;
        @include transition(all 300ms ease-in-out 0s);
        top: 130%;
        position:absolute;
        visibility: hidden;
        z-index: 999 ;
        display: block;
        border:2px solid $theme-color;
        box-shadow:none;
    }
    .view-cart{
      a{
        @include rtl-margin-right(20px);
      }
    }
    &:hover {
        .dropdown-menu{
            visibility: visible;
            @include opacity(1); 
            top:112% ;
        }
    }
}
//module search
#search {
    padding-top:12px;
    padding:8px 0;
    @include rtl-border-left(1px solid #e9eede);
    .form-control{
      border:none;
    }
    button{
        background:transparent;
        border:none;
        i{
            font-size: 12px;
            color: #adafac;
        }
        &:hover{
            color: $theme-color;
        }
    }
}
/* 
*  Social Module
*/

.socials-theme{             
    z-index: 99;    
    position: relative;
    .list-socials{
        list-style: none;
        padding: 0;        
        li{             
            margin: 0 auto;
            position: fixed;                                
            list-style: none;                      
            @include size(auto,42px);                                   
            @include transition(all 0.3s ease);
            a{                  
              .fa{                                      
                  text-align: center;
                  padding: 0;                    
                  min-width: $socials-theme-height;
                  border: $socials-theme-icon-border;
                  line-height: $socials-theme-height;
                  background-color: $theme-color;
                  color: $socials-theme-icon-color;
                  font-size: $socials-theme-icon-font-size;
                  border: 0;
                  @include size($socials-theme-height,$socials-theme-height);  
              }                            
            } 
            &.share{
                z-index: 99999;               
                .media{
                    .fa{
                        background:#bf9a61;
                    }
                }
                .box-content{
                    z-index: 99994;
                    position: relative;
                    border: 3px solid #bf9a61;
                }
                .tabshare{
                  @include rtl-float-left();
                  @include rtl-margin-right(20px);
                  margin-bottom: 15px;
                }
                .facebook .title-social{
                  color: #3b5997;
                }
                .twitter .title-social{
                  color: #29c5f6;
                  &:before{
                    content: none;
                  }
                }
                .youtube .title-social{
                  color: #d13d2f;
                  &:before{
                    content: none;
                  }
                }
            }
            &.feedback{
                z-index: 9999;                 
                .media{
                    .fa{
                        background:#95cbd3;
                    }
                }
                .box-content{
                    z-index: 99994;
                    position: relative;
                    border: 3px solid #95cbd3;
                }
            }
            &.reviewed{
                z-index: 999;                 
                .media{
                    .fa{
                        background:#add5c1;
                    }
                }
                .box-content{
                    z-index: 99994;
                    position: relative;
                    border: 3px solid #add5c1;
                }
            }          
            .fa{
                @include size(42px,42px);
                line-height: 42px;
                text-align: center;
                font-size: $font-size-base + 5;
            }
            &.share{                                                            
                top: 300px;                 
            }
            &.feedback{
              top: 350px;
            }
            &.reviewed{
              top:400px;
            }
        }
    }
    &.right{        
        ul{
            li{ 
                @include rtl-right(-306px);
                &:hover{
                    @include rtl-right(0);
                    @include size(auto,auto);   
                }                                
            }
        }
        .media{
            @include rtl-text-align-left();
            .fa{
                @include rtl-float-left();
            }
        }
    }
    .media{
        height: 42px;        
        color: $white;
        font-size: $font-size-base - 1;        
        text-transform: uppercase;                
        @include transition(left 0.6s cubic-bezier(0.66, 2, 0.41, 0.96) 0s, background-color 0.3s ease-out 0s);
    }
    .box-content{        
        background-color: $white;
        padding: 15px;        
        min-width: 260px;  
        .title-social{
          position: relative;
          font-size: 14px;
          color: $brand-default;
          margin-bottom: 10px;
          padding-bottom:5px;
          &:before{
              background-color: $theme-color;
              bottom: 0;
              content: "";
              height: 2px;
              left:0px;
              position: absolute;
              width: 16px;
          }
        }
        label{
          font-weight: normal;
          font-size: 12px;
        }       
    }
    .media-body{
        line-height: 42px;
    }
    .bo-social-icons{
        position: fixed;
        @include rtl-right(0);
        top: 360px;
    }
} 