.carousel-controls{
    position: absolute;
    right: 20px;
    left: auto;
    top:30px;
    .left{        
        left: -52px
    }
    .right{
        right:0;
    }
}
.hightlight{
    .carousel-controls{
        position: static;
        opacity: 0;        
        .carousel-control{
            top:50%;            
            
            @include transition(all 0.5s ease-in-out 0s);
        }
        .left{
            left: -30px;
        }
        .right{            
            right: -30px;
        }
    }
    &:hover{
        .carousel-controls{
            opacity: 1;
            .carousel-control{
                                
            }
            .left{
                left: 10px;
            }
            .right{            
                right:10px;
            }
        }
    }
}
.productdeals{
    &.list-product{
        .product-block{
            padding-bottom:0;
        }
    }
}
#products{
    background-color: #ffffff;
    border:1px solid $border-color;

}
 .products-block{
    .product-col-wrap{
        @include rtl-border-right(1px solid $border-color);
        padding-bottom:30px;
    }
    .owl-wrapper-outer{
/*         margin-left:-$grid-gutter-width/2;
        margin-right:-$grid-gutter-width/2; */ 
    }
    &.owl-carousel{
    }
}
.price {
    // all page
    width: 100%;
    font-size: $product-price-font-size;
    color: $product-price-color;
    min-height:50px;
    .price-new {
        color: $product-price-new-color;
        font-weight: $product-price-font-weight;
    }
    .price-old {
        font-size: $product-price-old-font-size;
        color: $product-price-old-color;
        text-decoration: line-through;
        font-family: $product-price-font-family;
    }
    // page product detail
    &.detail {
        .price-new {
            font-size: $product-price-font-size + 6;
            font-weight: bold;
            color: $product-price-color;
        }
    }
}
/* product style */
.product-block {
    position: relative;
    width: 100%;
    background-color:$white;
    &:hover {
        .quickview{
            @include opacity(1);
        }
        .zoom{
            @include opacity(1);
            top: 10px;
        }        
    }      
    .description {
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        margin-bottom: 20px;
        color: $text-color;
        display: none;
    }
    .name {    
        line-height: 18px;
        height:35px;
        margin-bottom: 10px;
        margin-top:0;
        overflow: hidden;
        font-weight: normal;
        a {
            font-size: $font-size-base; 
            font-family: $product-font-family;
            text-transform: none;
            &:hover {
                color:$product-name-hover-color  ;
            }
        }
    }
    .image {
        position: relative;
        overflow: hidden;
        border: $product-image-border;
        text-align: center;
        @include rounded-corners($product-image-radius);
        z-index: 0;
        .img-responsive {
            display: inline-block;
        }
    }
    .product-meta{     
        overflow: hidden;
    }
    .top{
        padding:20px;
    }
    .bottom{
        background-color:$white;
        display: block;
    }
    .quickview{
        background-color: #fefefe;
        bottom: 0;
        font-size: 12px;
        height: 40px;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        @include transition (all 0.5s ease-in-out 0s)  ;
        width: 100%;
        z-index: 11;
        border-radius: 1px;
        &:before{
            background-color: #589cf0;
            border-radius: 0 0 1px 1px;
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            @include transition (all 0.3s ease-in-out 0s);
            width: 100%;
            z-index: 9;
        }
        &:before {
            background-color: $theme-color;
            height: 0;
            margin: auto;
            top: 0;
        }
        .quick-view{
            i{
                margin-right: 10px;
            }
        }
        &:hover::before {
            border-radius: 1px;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        &:hover{
            .quick-view{
                color:$white;
            }
        }
    }
    .zoom{
        background-color:#f3f3f3;
        position: absolute;
        @include rtl-left(10px);
        top:0;
        @include size(30px,30px);
        line-height: 30px;
        opacity: 0;
        @include transition (all 0.3s ease-in-out 0s);
        a{
            color:$gray-light;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.pav-hover-image{
    opacity: 0.3;
    width: 100%;
    &:hover{
        opacity: 1;
    }
}
.product-label {
    color: $product-label-color;
    font-size: $product-label-font-size;
    background-color:$product-label-special-bg;
    font-weight: 600;
    line-height: 40px;
    border-radius:50px;
    @include size(40px,40px);
    position: absolute;
    @include rtl-right(10px);
    top:10px;
    z-index: 1; 
}
// Rating
.rating {
    font-weight: 300;
    .fa-stack {
        width: 1em;
        font-size: 11px;
        width: 12px;
        height: 16px;
    }
    .fa-star {
        color: #f7bc3d;
        height: 11px;
        line-height: 11px;
        
    }
    .fa-star-o {
        color: #d5d5d5;
        height: 11px;
        line-height: 11px;
    }
}
